body {
	width: 100%;
	font-family: Arial, sans-serif;
	background: #fff;
	color: #646060;
}


/* styling for links */
a:link {
	color: #fff;
}
a:hover {
	color: #fff;
}
a:visited {
	color: #fff;
}


/* styling for nav bar at top of page */
.nav-bar {
	padding: 30px;
	background: #646060;
	opacity: 0.5;
	color: #fff;
	font-size: 1em;
}
.nav-bar:hover {
	opacity: 0.75;
}
.nav-borders {
	border-right: solid 1px;
}


/* styling for image directory */
.img-dir {
	opacity: 0.65;
}
.img-dir:hover {
	opacity: 1.0;
}

/* carousel & carousel controls */
.carousel-height {
	max-height: 500px;
	/*width: 100%;*/
}
.carousel-control.left {
	background: transparent;
}
.carousel-control.right {
	background: transparent;
}
#carouselButtons {
	margin-left: 50%;
	margin-right: 50%;
	bottom: 20px;
	position: absolute;
	display: flex;
}
.btn-link {
	color: #646060;
}
.btn-link:hover {
	color: #9b5ba5;
}
.btn-link:active {
	color: #9b5ba5;
	border-color: #9b5ba5;
}
.btn-link:focus {
	color: #9b5ba5;
	border-color: #9b5ba5;
}

/* remove margin and padding */
.rem-marg {
	margin: 0px -30px;
}
.rem-pad {
	padding: 0px;
}



/* formatting for headers */
.headers {
	font-weight: bold;
	text-align: center;
}



/* other page css styling */

.side-bar {
	max-width: 16.66%;
}

.side-bar-left {
	border-right-style: solid;
	border-right-color: #9b5ba5;
	/*padding-left: 10px;*/
}

.side-bar-right {
	border-left-style: solid;
	border-left-color: #9b5ba5;
	/*padding-right: 10px;*/
}

.main-container {
	max-width: 66.67%;
}
.separate-item {
	padding: 10px 10px;
	border-top-style: dotted;
	border-top-color: #9b5ba5;
}


.buy-link:link {
	color: #9b5ba5;
	font-weight: bold;
}